<span class="fca-wrap">
  <button
    type="button"
    class="fca-chip"
    aria-describedby="fca-tooltip"
    aria-label="FCA: Function, Convenience, Aesthetics"
  >
    <span>FCA</span>
    <svg class="fca-chip-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
      <path d="M3 7h18M3 12h18M3 17h18"/>
    </svg>
  </button>
  <span id="fca-tooltip" class="fca-tooltip" role="tooltip">Function &gt; Convenience &gt; Aesthetics</span>
</span>
